body 
{
  font-family: georgia;
  background-color: rgb(181, 181, 181); <!-- light grey -->
}

h1 
{
  color: rgb(0, 0, 0);
  text-align: center;
}

h3 
{
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}


p 
{
  color: rgb(0, 0, 0);
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
  
.header 
{
  float: top;
  border: 1px solid rgb(255,255,255);
  background-color: rgb(255,255,255);
  padding: 20px;
}

img.far-top-right 
{
  float: top;
  float: right;
  margin-right: 15px
}

img.top-right 
{
  float: top;
  float: right;
  margin-right: 10px
}

img.far-top-left 
{
  float: top;
  float: left;
  margin-left: 15px
}

img.top-left 
{
  float: top;
  float: left;
  margin-left: 15px
}

.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

img.medium 
{
  width: 80px;
  height: 80px;
}

img.medium-long
{
  width: 95px;
  height: 80px;
}

img.large
{
  width: 350px;
  height: 300px;
}

.abstract .sponsors .department_roles
{
  margin-top: 30px;
  margin-bottom: 30px;
}

nav ul li
{
  color: rgb(0, 0, 0);
  list-style: none; 
  display: inline-block;
  margin-left: 60px;
}

ul.bullet
{
  color: rgb(0, 0, 0);
  list-style: none; 
  display: inline-block;
  margin-left: 60px;
  list-style-type: circle;
}

td 
{
  border: 5px solid rgb(0,0,0);
  margin-left: 20px;
}

div.gallery {
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
